{% extends "base.html" %}

{% block content %}
<style>
    .center-container {
        text-align: center;
    }
    .card {
        margin-bottom: 20px;
    }
</style>

<section class="block hero is-medium" style="padding: 80px;">
    <div class="block">
        <h1 class="title">Welcome!</h1>
    </div>
</section>

<hr style="border-top: 2px solid #808080">
<br><br>

<section class="block">
    <div class="columns is-centered">
        <div class="column is-two-thirds">
            <div class="box is-two-thirds">
                <div class="columns is-centered">
                    <div class="column">
                        <div class="content center-container">
                            <p>Welcome to the site! Helping you find the bank that is right for you. Many guides and
                                services exist to help you  go about selecting a bank. Sites such as
                                <a href="https://www.moneysavingexpert.com/">moneysavingexpert.com</a> exist telling you
                                what the best banking products on offer are. However, no site exists that combines the
                                two and tries to help you select a bank that fits all of your needs as a consumer not
                                just for a particular service. This is where
                                this site comes in.</p>

                            <p>The site aims to make the process easier for you by having all the information that you
                                need all on one site taking away that tedious activity of having to search the internet
                                for hours and reading a multitude of articles. </p>

                            <p>The site has combined information and data from a variety of sources to create a guide
                                to how to select a bank and to create a search algorithm to help match you to a bank.
                                Sites like this exist for services such as insurance with GoCompare.com being a good
                                example, but not for banking. </p>

                            <p>The bank data has been sourced from reliable and consistent sources such as the bank
                                sites themselves, <a href="https://www.moneysavingexpert.com/">moneysavingexpert.com</a>,
                                and studies produced by <a href="https://www.ipsos.com/en-uk/personal-banking-service-quality">Ipsos</a>.
                                The site is free from bias as the goal is to satisfy the needs of the user.</p>

                            <p>We hope that all the information you require to make your decision can be sourced from
                                our site greatly reducing your search time whilst providing you with more in-depth
                                research than one would normally undertake during the process.</p>

                            <p>Please have a read of our guides and use the terminology dictionary to familiarise
                                yourself with the process of selecting a bank and increasing your banking and financial
                                knowledge. Following this, the search algorithm will provide you with the banks that
                                provide the best match for what you desire. Using these results, you can easily access
                                the recommended banks and continue your last bits of research before coming to your
                                final decision.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
