{% extends "base.html" %}

{% block content %}

    <body>
    <section class="block hero is-medium" style="padding: 80px;">

    <div class="block">
        <img src="static/logo-bank application.png" alt="Bank logo">
    </div>
    </section>

    <hr style="border-top: 2px solid #808080">
    <br><br>

    <section class="block">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="box is-two-thirds">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="content">
                                <h2>An intro to the site</h2>
                                <p>This site aims to guide you through the process of selecting the right bank for you.
                                    The relationship between banks and their consumers is not always the strongest.
                                    Banks heavily focus on trying to sell you a product as they should, however,
                                    their is not always the quality of care to go with it. Different banking consumers have
                                    different needs. Jut because a bank provides you with the best offer for a product does not always
                                    mean it is the best option for you as an individual with your personal needs.   </p>

                                <p>
                                    For a more detailed explanation into this please look at our guides and about us pages
                                    on the site. These pages will educate you on what you should look at for when selecting a
                                    bank, the areas to be aware of, why a bank might not be right for you and hopefully expand
                                    your knowledge around the banking world helping you make better decisions for the bank
                                    you decide to join next.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <br><br>

    <hr style="border-top: 2px solid #808080">

    <br><br>
    <section class="block">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="box is-two-thirds">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="content">
                                <h2>Keep up to date with UK banking news</h2>
                                <p> Below are the top articles about banking news in the UK sourced from the financial times.
                                    Being aware of the changes in the banking world might help you make your decision on what
                                    you require from your bank at this moment in time whether that be for something such as
                                    new benefits or maybe even added security of your finances.
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns is-multiline">
            {% for story in stories %}
            <div class="column is-one-quarter">
                <div class="card" onmouseover="this.style.transform = 'scale(1.05)';" onmouseout="this.style.transform = 'scale(1)';">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="{{ story.picture }}" alt="{{ story.headline }}">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h3><a href="{{ story.hyperlink }}">{{ story.headline }}</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
