{% extends "base.html" %}

{% block content %}

    <body>
      <section class="container">
        <div class="container">
          <h1 class="title">
            Have you tried our bank search algorithm?
          </h1>
            <div class="p-auto">
                    <a href="{{ url_for('search_algorithm.services') }}" class="button is-success is-rounded is-large">
                        Start
                    </a>
            </div>
        </div>
      </section>
    </body>

{% endblock %}