{% extends "base.html" %}

{% block content %}

    <html>
      <head>
        <meta charset="UTF-8">
        <title>What services do you require from your bank?</title>
      </head>
      <section class="block">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <div class="box is-two-thirds">
                    <div class="columns is-centered">
                        <div class="column">
                            <div class="content">
                                <p>The form below consists of six sections that should take no longer than two minutes
                                    to complete. Please input your responses below depending on what services/features
                                    you would like your bank to have. If a service is not important please select 'NA'.
                                    If you do not understand any terminology please click
                                    <a href="{{ url_for('blueprints.terminology') }}">here</a> to use our
                                    terminology dictionary.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br>
    <hr style="border-top: 2px solid #808080">
    <br>

      <body>
        <h1 style="font-weight: bold;">Services</h1>
        <br><br>
        <form method="POST" action="/submit">
          <label for="current_account">Current account?</label>
          <br>
          <input type="radio" id="current_account_yes" name="current_account" value="yes">
          <label for="current_account_yes">Yes</label>
          <input type="radio" id="current_account_no" name="current_account" value="no">
          <label for="current_account_no">No</label>
            <input type="radio" id="current_account_na" name="current_account" value="na" checked>
          <label for="current_account_na">NA</label>
          <br><br>

          <label for="savings_account">Savings account?</label>
          <br>
          <input type="radio" id="savings_account_yes" name="savings_account" value="yes">
          <label for="savings_account_yes">Yes</label>
          <input type="radio" id="savings_account_no" name="savings_account" value="no">
          <label for="savings_account_no">No</label>
            <input type="radio" id="savings_account_na" name="savings_account" value="na" checked>
          <label for="savings_account_na">NA</label>
          <br><br>

          <label for="credit_card">Credit card?</label>
          <br>
          <input type="radio" id="credit_card_yes" name="credit_card" value="yes">
          <label for="credit_card_yes">Yes</label>
          <input type="radio" id="credit_card_no" name="credit_card" value="no">
          <label for="credit_card_no">No</label>
            <input type="radio" id="credit_card_na" name="credit_card" value="na" checked>
          <label for="credit_card_na">NA</label>
          <br><br>

          <label for="isa">ISA?</label>
          <br>
          <input type="radio" id="isa_yes" name="isa" value="yes">
          <label for="isa_yes">Yes</label>
          <input type="radio" id="isa_no" name="isa" value="no">
          <label for="isa_no">No</label>
          <input type="radio" id="isa_na" name="isa" value="na" checked>
          <label for="isa_na">NA</label>
          <br><br>

          <label for="mortgage">Mortgage?</label>
          <br>
          <input type="radio" id="mortgage_yes" name="mortgage" value="yes">
          <label for="mortgage_yes">Yes</label>
          <input type="radio" id="mortgage_no" name="mortgage" value="no">
          <label for="mortgage_no">No</label>
          <input type="radio" id="mortgage_na" name="mortgage" value="na" checked>
          <label for="mortgage_na">NA</label>
          <br><br>

          <hr style="border-top: 2px solid #808080">

          <h1 style="font-weight: bold;">Accessibility</h1>
            <br><br>
            <label>What coverage of branches do you require:</label><br>
            <input type="radio" id="low" name="branches" value="0" checked>
            <label for="low">Low</label><br>
            <input type="radio" id="medium" name="branches" value="500">
            <label for="medium">Medium</label><br>
            <input type="radio" id="high" name="branches" value="800">
            <label for="high">High</label><br>
            <br><br>

            <label for="withdrawalLimit">Maximum ATM withdraw limit:</label>
            <br>
            <input type="radio" id="limit300" name="withdrawalLimit" value="250" checked>
            <label for="limit300">250</label>
            <br>
            <input type="radio" id="limit400" name="withdrawalLimit" value="400">
            <label for="limit400">400</label>
            <br>
            <input type="radio" id="limit500" name="withdrawalLimit" value="500">
            <label for="limit500">500</label>
            <br><br>
            <label for="online services">Online Services?</label>
            <br>
            <input type="radio" id="online_yes" name="online_services" value="yes">
            <label for="online_yes">Yes</label  >
            <input type="radio" id="online_no" name="online_services" value="no">
            <label for="online_no">No</label>
            <input type="radio" id="online_na" name="online_services" value="na" checked>
            <label for="online_na">NA</label>
            <br><br>
            <label for="mobile services">Mobile Services?</label>
            <br>
            <input type="radio" id="mobile_yes" name="mobile_services" value="yes">
            <label for="mobile_yes">Yes</label  >
            <input type="radio" id="mobile_no" name="mobile_services" value="no">
            <label for="mobile_no">No</label>
            <input type="radio" id="mobile_na" name="mobile_services" value="na" checked>
            <label for="mobile_na">NA</label>
            <br><br>
            <label for="joint_accounts">Joint Accounts?</label>
            <br>
            <input type="radio" id="joint_yes" name="joint_accounts" value="yes">
            <label for="joint_yes">Yes</label  >
            <input type="radio" id="joint_no" name="joint_accounts" value="no">
            <label for="joint_no">No</label>
            <input type="radio" id="joint_na" name="joint_accounts" value="na" checked>
            <label for="joint_na">NA</label>
            <br><br>
            <label for="child_accounts">Child Accounts?</label>
            <br>
            <input type="radio" id="child_yes" name="child_accounts" value="yes">
            <label for="child_yes">Yes</label  >
            <input type="radio" id="child_no" name="child_accounts" value="no">
            <label for="child_no">No</label>
            <input type="radio" id="child_na" name="child_accounts" value="na" checked>
            <label for="child_na">NA</label>
            <br><br>
            <br><br>
            <br><br>

            <hr style="border-top: 2px solid #808080">

            <h1 style="font-weight: bold;">Application Features</h1>
            <p><I>If you have selected 'No' for mobile services this section will not be included when running the algorithm.</I></p>
            <br><br>
            <label for="freezeCard">Freeze debit card in app?</label>
            <br>
            <input type="radio" id="freezeYes" name="freezeCard" value="yes">
            <label for="freezeYes">Yes</label>
            <input type="radio" id="freezeNo" name="freezeCard" value="no" checked>
            <label for="freezeNo">No</label>

            <br><br>

            <label for="instantNotifications">Instant spending notifications?</label>
            <br>
            <input type="radio" id="instantYes" name="instantNotifications" value="yes">
            <label for="instantYes">Yes</label>
            <input type="radio" id="instantNo" name="instantNotifications" value="no" checked>
            <label for="instantNo">No</label>

            <br><br>

            <label for="spendingCategories">Spending categories?</label>
            <br>
            <input type="radio" id="spendingCategoriesYes" name="spendingCategories" value="yes">
            <label for="spendingCategoriesYes">Yes</label>
            <input type="radio" id="spendingCategoriesNo" name="spendingCategories" value="no" checked>
            <label for="spendingCategoriesNo">No</label>

            <br><br>

            <label for="turnOffSpending">Turn off certain spending?</label>
            <br>
            <input type="radio" id="turnOffYes" name="turnOffSpending" value="yes">
            <label for="turnOffYes">Yes</label>
            <input type="radio" id="turnOffNo" name="turnOffSpending" value="no" checked>
            <label for="turnOffNo">No</label>

            <br><br>

            <label for="spendingGoals">Spending/Budgeting goals?</label>
            <br>
            <input type="radio" id="goalsYes" name="spendingGoals" value="yes">
            <label for="goalsYes">Yes</label>
            <input type="radio" id="goalsNo" name="spendingGoals" value="no" checked>
            <label for="goalsNo">No</label>

            <br><br>

            <hr style="border-top: 2px solid #808080">
              <fieldset>
                <legend style="font-weight: bold;">Which of the following services is most important to you for this bank account?</legend>
                  <br><br>
                <div class="grid-container">
                  <div>
                    <label>
                      <input type="radio" name="service" value="Top sign up cash" checked>
                      Top sign up cash
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Cashback">
                      Cash back
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Savings Interest">
                      Savings interest
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Overdraft">
                      Overdraft
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Packages">
                      Packages
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Premium">
                      Premium
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="App based">
                      App based
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Traditional bank app">
                      Traditional bank app
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Basic bank account">
                      Basic bank account
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Prepaid under 18">
                      Prepaid under 18
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Child">
                      Child
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Existing Customer Savings ">
                      Existing customer savings
                    </label>
                  </div>
                  <div>
                    <label>
                      <input type="radio" name="service" value="Open-To-All Savings ">
                      Open to all savings
                    </label>
                  </div>
                </div>
                <br>
              </fieldset>

            <style>
            .grid-container {
              display: grid;
              grid-template-columns: repeat(3, 1fr);
              grid-column-gap: 10px;
              grid-row-gap: 10px;
            }
            </style>

            <hr style="border-top: 2px solid #808080">

            <fieldset>
                <legend style="font-weight: bold;">Which bank reputation is most important to you?</legend>
                <br>
                <div class="grid-container-2">
                    <div>
                        <input type="radio" id="overall" name="reputation" value="Overall" checked>
                        <label for="overall">Overall</label>
                    </div>
                    <div>
                        <input type="radio" id="online" name="reputation" value="Online">
                        <label for="online">Online</label>
                    </div>
                    <div>
                        <input type="radio" id="overdraft" name="reputation" value="Overdraft">
                        <label for="overdraft">Overdraft</label>
                    </div>
                    <div>
                        <input type="radio" id="branch" name="reputation" value="Branch">
                        <label for="branch">Branch</label>
                    </div>
                </div>
            </fieldset>

            <style>
            .grid-container-2 {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              grid-column-gap: 5px;
              grid-row-gap: 10px;
            }
            </style>

            <hr style="border-top: 2px solid #808080">
            <label for="esg_rating" style="font-weight: bold;">Are the ESG (Environmental, Social and Governance rating) ratings of the banks important to you?</label>
            <br><br>
            <input type="radio" id="esg_rating_yes" name="esg_rating" value="yes">
            <label for="esg_rating_yes">Yes</label>
            <input type="radio" id="esg_rating_no" name="esg_rating" value="no" checked>
            <label for="esg_rating_no">No</label>
            <br>
            <hr style="border-top: 2px solid #808080">

          <input type="submit" value="Submit" class="button is-success is-rounded">
        </form>
      </body>
    </html>


{% endblock %}